.dashboard-container {
  background-color: #f4f4f4;
  min-height: 100vh;
  padding: 40px 60px;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 60px;
}


.cards-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  gap: 20px;
}

.card {
  background: #dcdcdc;
  border-radius: 20px;
  padding: 30px;
  flex: 1;
  text-align: center;
  position: relative;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.card h2 {
  font-size: 48px;
  margin: 10px 0 5px;
}

.card p {
  font-size: 18px;
  color: #333;
}

.icon {
  position: absolute;
  top: 15px;
  right: 20px;
  font-weight: bold;
}


.charts-row {
  display: flex;
  gap: 30px;
  margin-bottom: 60px;
}

.chart-card {
  flex: 1;
  background: #dcdcdc;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}


.buttons-row {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.main-btn {
  flex: 1;
  background-color: #1f2f7a;
  color: white;
  font-size: 32px;
  font-weight: 600;
  padding: 30px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.main-btn:hover {
  background-color: #16235e;
  transform: scale(1.03);
}
